@media (max-width: 992px) {
   .journeys{
    height: 100% !important;
   }
   .header .offcanvas {
    height: fit-content ;
   }
}
/* ******************************** */
@media (max-width: 550px) {
   .home{
    margin-bottom: 100px !important;
   }
}
